#jinja2:lstrip_blocks: True
global_defs {
  {% if keepalived_notify_fifo | length > 0 %}
  notify_fifo {{keepalived_notify_fifo}}
  {% endif %}
  enable_script_security
}

{% if keepalived_script is defined %}
{% for name, value in keepalived_script.items() %}
vrrp_script {{name}} {
  script {{value.script}}
  {% if value.interval is defined %}
  interval {{value.interval}}
  {% endif %}
  {% if value.weight is defined %}
  weight {{value.weight}}
  {% endif %}
  {% if value.timeout is defined %}
  timeout {{value.timeout}}
  {% endif %}
  {% if value.rise is defined %}
  rise {{value.rise}}
  {% endif %}
  {% if value.fall is defined %}
  fall {{value.fall}}
  {% endif %}
}
{% endfor %}
{% endif %}

{% if keepalived_process is defined %}
{% for name, value in keepalived_process.items() %}
vrrp_track_process {{name}} {
  process {{value.process}}
  {% if value.weight is defined %}
  weight {{value.weight}}
  {% endif %}
  {% if value.quorum is defined %}
  quorum {{value.quorum}}
  {% endif %}
  {% if value.quorum_max is defined %}
  quorum_max {{value.quorum_max}}
  {% endif %}
  {% if value.fork_delay is defined %}
  fork_delay {{value.fork_delay}}
  {% endif %}
  {% if value.terminate_delay is defined %}
  terminate_delay {{value.terminate_delay}}
  {% endif %}
  {% if value.delay is defined %}
  delay {{value.delay}}
  {% endif %}
  {% if value.full_command is defined %}
  full_command {{value.full_command}}
  {% endif %}
}
{% endfor %}
{% endif %}

{% if keepalived_instance is defined %}
{% for name, value in keepalived_instance.items() %}
vrrp_instance {{name}} {
  interface {{value.network_interface}}
  {% if value.state is defined %}
  state {{value.state}}
  {% endif %}
  {% if value.virtual_router_id is defined %}
  virtual_router_id {{value.virtual_router_id}}
  {% else %}
  virtual_router_id 51
  {% endif %}
  {% if value.virtual_ip is defined %}
  virtual_ipaddress {
    {{value.virtual_ip}} label  {{value.network_interface}}:{{value.network_interface_label}}
  }
  {% endif %}
  {% if value.track_script is defined %}
  track_script {
    {{value.track_script}}
  }
  {% endif %}
  {% if value.track_interface is defined %}
  track_script {
    {{value.track_interface}}
  }
  {% endif %}
  {% if value.track_process is defined %}
  track_script {
    {{value.track_process}}
  }
  {% endif %}
  {% if value.track_file is defined %}
  track_script {
    {{value.track_file}}
  }
  {% endif %}
        

  {% if value.unicast %}
  unicast_src_ip {{keepalived_ip}}
  unicast_peer {
    {% for s in groups[keepalived_group_name] %}
    {% if s != inventory_hostname %}
    {{ hostvars[s].keepalived_ip }}
    {% endif %}
    {% endfor %}
  }
  {% endif %}

  {% if value.notify | length > 0 %}
  notify {{value.notify}}
  {% endif %}
  {% if value.notify_master_rx_lower_pri | length > 0 %}
  notify_master_rx_lower_pri {{value.notify_master_rx_lower_pri}}
  {% endif %}

}
{% endfor %}
{% endif %}